In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('Social_Network_Ads.csv')

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  19598943    Male   35           134000          1
1  15694829  Female   32           150000          1
2  15735878    Male   52           150000          1
3  15675949  Female   33           149000          1
4  15701537    Male   42           149000          1

In [4]:
#splitting data into independent and dependent features
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, 4].values

In [6]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 666)

In [7]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [12]:
# Fitting XGBoost Classifier to the Training Set
from xgboost import XGBClassifier
xgb_classifier = XGBClassifier()
xgb_classifier.fit(X_train, y_train)
xgb_y_pred = xgb_classifier.predict(X_test)

In [13]:
# Making the Confusion Matrices
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score
xgb_cm = confusion_matrix(y_test, xgb_y_pred)
accuracy=accuracy_score(y_test,xgb_y_pred)
recall= recall_score(y_test,xgb_y_pred)

In [21]:
# Performing K-Fold Cross Validation
from sklearn.model_selection import cross_val_score
xgb_cv = cross_val_score(estimator = xgb_classifier, X=X_train, y=y_train, cv=10,scoring='accuracy').mean()

In [23]:
print("accuracy = " ,xgb_cv*100)

accuracy =  89.92955135335559